Repository magento/architecture, pull requests merged in 2020-09, with the labels that each got.

#418 MC-36365: GraphQL schema for B2B purchase order
  design-documents/graph-ql/coverage/b2b/purchase-order.graphqls
  design-documents/graph-ql/coverage/b2b/purchase-order.md
  design-documents/graph-ql/coverage/cart/AddProductsToCart.graphqls
  design-documents/graph-ql/coverage/catalog/configurable-options-selection.md
  design-documents/graph-ql/coverage/customer/customer.graphqls
  design-documents/graph-ql/coverage/customer/gift-registry.md
Labels: GraphQL

#422 negotiable-quote-graphql-schema-improvement
  design-documents/graph-ql/coverage/negotiableQuotes.graphqls
Labels: GraphQL, Partner: Zilker Technology, partners-contribution

#424 AEM uid updates
  design-documents/graph-ql/coverage/catalog.graphqls
  design-documents/graph-ql/coverage/customer.graphqls
  design-documents/graph-ql/coverage/quote.graphqls
Labels: GraphQL

#414 Login as customer
  README.md
  design-documents/graph-ql/best-practice/extensibility.md
  design-documents/graph-ql/best-practice/id-fields-object-types.md
  design-documents/graph-ql/best-practice/lightweight-resolver.md
  design-documents/graph-ql/best-practice/nullability.md
  design-documents/graph-ql/best-practice/versioning.md
  design-documents/graph-ql/coverage/b2b/company-credit.md
  design-documents/graph-ql/coverage/b2b/company.md
  design-documents/graph-ql/coverage/b2b/negotiableQuotes.graphqls
  design-documents/graph-ql/coverage/b2b/purchase-order.graphqls
  design-documents/graph-ql/coverage/b2b/purchase-order.md
  design-documents/graph-ql/coverage/b2b/requisitionList.graphqls
  design-documents/graph-ql/coverage/cart/AddProductsToCart.graphqls
  design-documents/graph-ql/coverage/cart/Cart.graphqls
  design-documents/graph-ql/coverage/cart/CartAddressOperations.graphqls
  design-documents/graph-ql/coverage/cart/CartPrices.graphqls
  design-documents/graph-ql/coverage/cart/CartPromotions.graphqls
  design-documents/graph-ql/coverage/cart/CouponOperations.graphqls
  design-documents/graph-ql/coverage/cart/add-items-to-cart-single-mutation.md
  design-documents/graph-ql/coverage/cart/shared-cart.md
  design-documents/graph-ql/coverage/catalog/Swatches.graphqls
  design-documents/graph-ql/coverage/catalog/configurable-options-selection.md
  design-documents/graph-ql/coverage/catalog/gift-card.md
  design-documents/graph-ql/coverage/catalog/inconsistency.md
  design-documents/graph-ql/coverage/custom-attributes/attributes-metadata.md
  design-documents/graph-ql/coverage/custom-attributes/custom-attributes-container.md
  design-documents/graph-ql/coverage/customer/SubscribeEmailToNewsletter.graphqls
  design-documents/graph-ql/coverage/customer/Wishlist.graphqls
  design-documents/graph-ql/coverage/customer/customer-email-password-update.md
  design-documents/graph-ql/coverage/customer/customer-orders.md
  design-documents/graph-ql/coverage/customer/customer-password-reset.md
  design-documents/graph-ql/coverage/customer/customer-reorder.graphqls
  design-documents/graph-ql/coverage/customer/customer.graphqls
  design-documents/graph-ql/coverage/customer/gift-registry.graphqls
  design-documents/graph-ql/coverage/customer/gift-registry.md
  design-documents/graph-ql/coverage/customer/gift-wrapping.md
  design-documents/graph-ql/coverage/customer/login-as-customer.graphqls
  design-documents/graph-ql/coverage/customer/login-as-customer.md
  design-documents/graph-ql/coverage/customer/reward-points.graphqls
  design-documents/graph-ql/coverage/customer/reward-points.md
  design-documents/graph-ql/coverage/customer/wishlist.md
  design-documents/graph-ql/coverage/payment/payflowpro-vault.md
  design-documents/graph-ql/coverage/routing/available-stores.md
  design-documents/graph-ql/coverage/routing/storefront-route.md
  design-documents/graph-ql/coverage/routing/url-resolver-identifier.md
  design-documents/graph-ql/coverage/search/layered-navigation-filter-names-change/layered_navigation.png
  design-documents/graph-ql/coverage/search/product_filter_and_search_changes.md
  design-documents/graph-ql/coverage/search/storefront-api.md
  design-documents/graph-ql/coverage/shipping/store-pickup.graphqls
  design-documents/graph-ql/framework/batch-resolver.md
Labels: GraphQL

#393 Add document with suggested guidelines around mutation error design
  design-documents/graph-ql/mutation-error-design.md
Labels: GraphQL

#363 Review changes for compare list
  design-documents/graph-ql/coverage/catalog/compare-list.graphqls
Labels: GraphQL

#420 Update customer order schema
  design-documents/graph-ql/coverage/customer/customer-orders.md
Labels: GraphQL

#429 [GraphQL] Remove dynamic attributes from ProductInterface
  design-documents/graph-ql/coverage/catalog/remove-product-attributes.md
Labels: GraphQL

#419 GraphQl Schema actualization with latest released changes.
  design-documents/graph-ql/coverage/shipping/store-pickup.graphqls
Labels: GraphQL, Partner: Vaimo, partners-contribution

#385 Proposal: Deprecate `Mutation.createEmptyCart`, add `Mutation.createGuestCart`
  design-documents/graph-ql/coverage/deprecate-createEmptyCart-add-createGuestCart.md
Labels: GraphQL, open discussion

#389 pagination to support entities in b2b
  design-documents/graph-ql/coverage/cart/Cart.graphqls
  design-documents/graph-ql/coverage/customer-address-pagination-change.graphqls
  design-documents/graph-ql/coverage/customer/Wishlist.graphqls
  design-documents/graph-ql/coverage/customer/customer-orders.md
Labels: GraphQL, Partner: Zilker Technology, needs update, partners-contribution

#444 uid and label changes
  design-documents/graph-ql/coverage/b2b/negotiableQuotes.graphqls
Labels: Partner: Zilker Technology, partners-contribution
