Repository magento/architecture, pull requests merged in 2021-01, with the labels that each got.

#472 proposed changes for dynamic blocks schema
  design-documents/graph-ql/coverage/dynamic-blocks.graphqls
  design-documents/graph-ql/coverage/dynamic-blocks.md
Labels: GraphQL

#461 We shouldn't give the possibility to update the registry's type.
  design-documents/graph-ql/coverage/customer/gift-registry.graphqls
Labels: GraphQL, Partner: Atwix, partners-contribution

#466 Giftregistry changes uid
  design-documents/graph-ql/coverage/customer/gift-registry.graphqls
  design-documents/graph-ql/coverage/customer/gift-registry.md
Labels: GraphQL

#471 product review UID changes
  design-documents/graph-ql/coverage/catalog/product-reviews.graphqls
Labels: GraphQL, Partner: EY, partners-contribution

#468 Reward points Uid changes
  design-documents/graph-ql/coverage/customer/reward-points.graphqls
Labels: GraphQL, Partner: Zilker Technology, partners-contribution

#470 Customer GraphQL Uid changes
  design-documents/graph-ql/coverage/customer/customer.graphqls
Labels: GraphQL, Partner: Zilker Technology, partners-contribution

#387 Make destination param nullable in mergeCarts
  design-documents/graph-ql/coverage/mergeCarts-optional-destination.md
Labels: GraphQL

#464 Modifying returns schema for customer and author according to new requirements
  design-documents/graph-ql/coverage/returns.graphqls
Labels: GraphQL
